REDIS_DSN="rediss://"
REDIS_URL="myluckydog"
REDIS_PORT="root"
REDIS_USER="default"
REDIS_PASSWORD="root"

REDIS_LOCK_DB="0"
REDIS_CART_DB="1"
REDIS_INCREMENT_USER_DB="2"
REDIS_INCREMENT_QUEUE_DB="3"
REDIS_NUMERRANGE_DB="4"
REDIS_SESSION_DB="5"


